%table{ :border => "1", :style => "width: 100%" }
  %caption
  %tbody
    %tr
      %td{:colspan => "4"}
        - form_for @team do |f|
          %table
            %tr
              %td{ :colspan => "2" }
                %h1
                  ФОТОКРОСС
                = f.hidden_field :event_id
            %tr
              %td{ :colspan => "2" }
                = link_to "ФОТОКРОСС", root_path
                ○
                = link_to_unless_current "СОБЫТИЯ", events_path
                ○
                = link_to h(@event.title), @event
                ○
                РЕГИСТРАЦИЯ КОМАНДЫ
            %tr
              %td{:colspan => "2"}
                = error_messages_for :team
            %tr
              %td
                = f.text_field :title, :label => "название команды"
              %td
            %tr
              %td{ :colspan => "2" }
                = f.text_field :phone, :label => "телефон, на котором вы будете доступны во время Фотокросса"
            %tr
              %td{:colspan => "2"}
                = f.text_field :invited_users, :label => "участники команды, которых вы хотите позвать в команду (через запятую)"
            -#
              %tr
                %td{ :colspan => "2" }
                  %input{ :type => "text" }
                  участники команды
                  (через запятую)
                  %p
                    Если вы хотите пригласить
                    пользователей, зарегистрированных на
                    сайте, укажите точно их НИКНЕЙМЫ или
                    Е_МЕЙЛЫ:
                    %input{ :type => "text" }
                  %h4
                    %span{ :style => "color:#ff0000" }
                      \/срабатывает
                      распознование, находятся
                      пользователи:
                  %table{ :border => "1", :style => "width: 75%" }
                    %tbody
                      %tr
                        %td
                          user_01
                        %td
                          %a{ :href => "event_invite.html" }
                            \&lt;ОТПРАВИТЬ
                            ПРИГЛАШЕНИЕ&gt;
                      %tr
                        %td
                          user_02
                        %td
                          %a{ :href => "event_invite.html" }
                            \&lt;ОТПРАВИТЬ
                            ПРИГЛАШЕНИЕ&gt;
                      %tr
                        %td
                          user_03
                        %td
                          %a{ :href => "event_invite.html" }
                            \&lt;ОТПРАВИТЬ
                            ПРИГЛАШЕНИЕ&gt;
                  %br
            %tr
              %td{ :colspan => "2" }
                ЛИЦЕНЗИОННОЕ СОГЛАШЕНИЕ
                %br
                Добровольно соглашаемся на участие в событии 
                = h(@event.title) 
                и при этом каждый из нас четко
                отдает себе отчет в следующих вещах:
                %br
                1. Участие в этих соревнованиях является потенциально небезопасным для нас и, несмотря
                на это, мы принимаем риск участия в них.
                %br
                2. Мы согласны с тем, что любая травма, полученная кем-то из нас по ходу соревнований
                или порча собственного имущества, будет являться нашей личной ответственностью, и мы не
                имеем права требовать какой-либо компенсации за нанесение ущерба от Организаторов
                соревнований.
                %br
                %br
                Также каждый из нас согласен с тем что:
                %br
                1. Cотрудники Фотокросса или их агенты могут записывать в видео,фото или аудио
                формате наше присутствие на Фотокроссе.
                %br
                2. Мы также бесплатно передаем без ограничения срока права на любое использование
                этой записи сотрудникам Фотокросса с целью популяризации движения.
                %br
                3. Мы бесплатно передаем Фотокроссу неисключительные права без ограничения срока на
                любое некоммерческое использование наших произведений, сделанных в ходе соревнований,
                при условии указания авторства.
                %br
                4. Мы подтверждаем, что при создании произведений нами не были нарушены
                интеллектуальные или иные права третьих лиц.
                %br
                5. Мы подтверждаем что созданные нами произведения не содержат сцен насилия,
                порнографии и не призывают к разжиганию межнациональной вражды
                %br
                %p
                  = f.check_box :license_confirmation, :label => "ДА, Я СОГЛАСЕН С УСЛОВИЯМИ ЛИЦЕНЗИОННОГО СОГЛАШЕНИЯ"
              
            %tr
              %td{ :align => "center", :colspan => "2" }
                = f.submit "ЗАРЕГИСТРИРОВАТЬ КОМАНДУ"
              
