<p>
  <b>Name:</b>
  <%=h @pressrelise.name %>
</p>

<p>
  <b>Event:</b>
  <%=h @pressrelise.event_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @pressrelise.description %>
</p>


<%= link_to 'Edit', edit_pressrelise_path(@pressrelise) %> |
<%= link_to 'Back', pressrelises_path %>