%p
  = link_to "ФОТОКРОСС", root_path
  ○
  АДМИНИСТРИРОВАНИЕ
%p
%p{ :style => "margin-left:6em" }= link_to "НОВОСТИ", admin_notes_path
%p{ :style => "margin-left:6em" }= link_to "ПОЛЬЗОВАТЕЛИ", admin_users_path
  
%p{ :style => "margin-left:6em" }= link_to "СТАТЬИ", admin_articles_path
%p{ :style => "margin-left:6em" }
  = link_to "СОБЫТИЯ", admin_events_path
  \-
  ГАЛЕРЕЯ
