<p>
  <b>Name:</b>
  <%=h @finish.name %>
</p>

<p>
  <b>Event:</b>
  <%=h @finish.event_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @finish.description %>
</p>


<%= link_to 'Edit', edit_finish_path(@finish) %> |
<%= link_to 'Back', finishes_path %>