<h1>Listing secrets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Event</th>
    <th>Description</th>
  </tr>

<% @secrets.each do |secret| %>
  <tr>
    <td><%=h secret.name %></td>
    <td><%=h secret.event_id %></td>
    <td><%=h secret.description %></td>
    <td><%= link_to 'Show', secret %></td>
    <td><%= link_to 'Edit', edit_secret_path(secret) %></td>
    <td><%= link_to 'Destroy', secret, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New secret', new_secret_path %>