<p>
  <b>Name:</b>
  <%=h @secret.name %>
</p>

<p>
  <b>Event:</b>
  <%=h @secret.event_id %>
</p>

<p>
  <b>Description:</b>
  <%=h @secret.description %>
</p>


<%= link_to 'Edit', edit_secret_path(@secret) %> |
<%= link_to 'Back', secrets_path %>