%h1 New photo

- form_for(@photo, :html => {:multipart => true}) do |f|
  = f.error_messages

  = f.file_field :image, :label => "Image"
  = f.select :team_id, @event.teams.map {|t| [t.title, t.id]}, :label => "Команда"
  = f.hidden_field :event_id
  = f.text_field :mark, :label => "Оценка"
  = f.submit "Создать"

= link_to 'Back', photos_path 
