<h1>Listing prizes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Event</th>
    <th>Description</th>
  </tr>

<% @prizes.each do |prize| %>
  <tr>
    <td><%=h prize.name %></td>
    <td><%=h prize.event_id %></td>
    <td><%=h prize.description %></td>
    <td><%=image_tag prize.image.url(:thumb) %></td>    
    <td><%= link_to 'Show', prize %></td>
    <td><%= link_to 'Edit', edit_prize_path(prize) %></td>
    <td><%= link_to 'Destroy', prize, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prize', new_prize_path %>